html {
  scroll-behavior: smooth;
  background-color: #000000eb;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400&display=swap');


body{
  font-family: 'Roboto Slab', serif;  letter-spacing: 1px;
}

.textwhitecolor{
  color: white;
}
#root {
  background-color: #000000eb;
  color: white;
}

.App {
  text-align: center;
  background-color: #000000eb;
  /* height: 100%;
  width: 100%; */
  color: white;
}

/* PDF FILES */

/* END PDF FILE */

/* loading Spiner */

.full-screen {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-container{
  width: 100%;
  max-width: 100% !important;
}


.carouselCover {
  background-size: 100%;
}

.itemMenu {
  margin: 30px;
}



.containerLogin{
  display: flex;
  justify-content: space-evenly;
}

.loginButton{
 width: 100%;
}

.sectionBlock {
  height: 260px;
  justify-content: space-around;
}
.google-btn{
  height: 100%;
}

.JumbotronLogin{
  margin: auto;
  width: 60%;
  color: black;
}

.ContainerFullLogin{
  margin-top: 5%;
}

.PhotoWalkSectionText {
  margin: 0px 15px 15px 10px;
  font-weight: 200;
  width: 310px;
  background-color: rgba(0, 0, 0, 0.283);
  color: white;
  position: absolute;
  bottom: 0;
  z-index: 10;
  max-width: 250px;
}

.BlogPageText {
  margin-top: "10%";
  font-size: 60px;
  background-color: rgba(0, 0, 0, 0.283);
  color: white;
}

.CommunitySectionText {
  margin: 0px 0px 15px 10px;
  font-weight: 200;
  width: 310px;
  background-color: rgba(0, 0, 0, 0.687);
  color: white;
  bottom: 10;
  z-index: 10;
  max-width: 280px;
}

/* Events admin */

.ImageEventsAdmin {
  min-height: 300px;
  float: left;
  width: 100%;
}

@media (max-width: 1200px) {
  #photos {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}
@media (max-width: 1000px) {
  #photos {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
  .containerLogin{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .google-btn{
    margin: 1rem;
    height: auto;
  }
}
@media (max-width: 800px) {
  #photos {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 400px) {
  #photos {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}

#photos {
  /* Prevent vertical gaps */
  line-height: 0;

  -webkit-column-count: 5;
  -webkit-column-gap: 0px;
  -moz-column-count: 5;
  -moz-column-gap: 0px;
  column-count: 5;
  column-gap: 0px;
}

#photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

/* Reactions */

.reactionsIcons {
  margin: 5px;
}

.reactions {
  display: flex;
  padding: 0;
  margin-top: 5px;
}
.reactions li {
  list-style: none;
  margin-right: 30px;
  font-weight: bold;
}

.reactionsbutton > button {
  border: none;
  margin: 2px;
  border-radius: 20px;
  font-size: 15px;

  cursor: pointer;
}

.reactions button:hover {
  color: #3c5565;
  opacity: 50%;
}

.comment {
  padding-bottom: 1.5em;
}

.comment_body {
  font-size: 20px;
  font-style: italic;
  line-height: 1.8;
}

.comment_author,
.comment_date {
  font-size: 15px;
  font-weight: bold;
}

.CommunitysectionBlock {
  height: 250px;
  justify-content: space-around;
  margin: 10px 0px 10px 0px;
}

.PopularBlogsText {
  margin: 10px 0px 30px 0px;
}

.ImageSection1 {
  padding: "20px";
  border-radius: 10px;
}

.OnHover:hover {
  opacity: 0.8;
  cursor: pointer;
}

.PhotoWalkSectionTags {
  margin: 20px;
  font-weight: 200;

  width: 100px;
}

.text-blog-card {
  font-size: 12px;
  font-weight: 300;
  color: black;
}
.SingleBlogStyles {
  height: 300px;
}

.BlogCardStyles {
  padding-left: 5%;
  padding-right: 5%;
}

/* Popular Blogs Section */

.PopularBlogs {
  border: "none";
  font-size: 14px;
}

.marginPopularBlogs {
  margin: 20px;
}

.MarginPopular {
  padding: 20px;
  text-align: center;
  /* margin: 30px; */
  border: solid 0.1px rgba(0, 0, 0, 0.057);
}

.textContentBlog {
  text-align: left;
}

/* Event styling */

.textEventTitle {
  margin: auto;
  padding-bottom: 50px;
  padding-top: 20px;
}

/* .ImageEventSingle{
  height: 100% !important;
} */

.SingleEvent {
  margin-top: 50px;
  border: none !important;
  box-shadow: 2px 5px #88888817;
  border-radius: 5px;
}

.textsingleevent {
  margin-top: 5%;
  text-align: left;
  color: #000000eb;
}

.page-item.active {
  color: gray !important;
  background-color: blanchedalmond !important;
}
/* 
.BlogCardImages > img {
  width: 200px;
} */

.ChatRoomText {
  margin: 20px;
}

.pagination {
  margin: 30px;
}

/* .card-columns {
  column-count: 5 !important;

} */

/* .card {
  min-height: 680px !important;
  min-width: 350px !important;
} */

/* Magazine Section */

/* .MagazineSection {
} */

@media only screen and (max-width: 600px) {
  .BlogPageText {
    font-size: 50px;
  }

  .card-columns {
    column-count: 1 !important;
  }

  /* .Buttonnewevent{
    margin: 20%;
  } */

  .pagination {
    padding-top: 5%;
    margin: auto;
  }

  .BlogCardStyles {
    min-width: 600px;
  }

  .ContainerPopularBlogs {
    margin-top: 10rem;
  }

  .CardStyles {
    min-width: 100px;
  }

  .MarginPopular {
    margin-top: 2rem;
  }
  /* .mainPopularBlog {
 
  } */
  .ColResponsiveSections {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .responsivePopularBlogs {
    margin-top: 60px;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
  }

 

  .sectionBlock {
    margin-bottom: 60px;
  }

  .ImagePopularBlogs {
    max-height: 400px;
    width: 100%;
    margin: 0 !important;
  }

  .ImageSection1 {
    padding-right: 10px !important;
  }
  .EventSection {
    margin-bottom: 15px;
  }

}

/* Footer */


#footer {
  padding: 20px;
  background-color: rgba(31, 31, 31, 0.379);
  margin-top: 50px;
}

/* utils */
.whiteTextBlackBackground {
  color: white;
  background-color: rgba(21, 21, 21, 0.933);
}

.logoColor{
  background-color:#888888e1 !important;
  border: none !important;
}

/* Calendar */

.CalendarMargin {
  margin: auto;
  color: #797469;
}
.rbc-active {
  color: red !important;
}
.rbc-btn-group > button {
  background-color: white !important;
}

.rbc-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between !important;
  font-size: 18px !important;
  font-weight: 300;
}
.rbc-event {
  background-color: #009473 !important;
}
/* Pagination */

.pagination > li > a,
.pagination > li > span {
  color: black;
  background-color: white;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  background-color: rgba(21, 21, 21, 0.933);
  border-color: rgba(21, 21, 21, 0.933);
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: rgba(21, 21, 21, 0.933);
  border-color: rgba(21, 21, 21, 0.933);
}

/* Profile Page */

.avatar-lg {
  border-radius: 50%;
  /* width: 50%; */
  width: 150px;
  height: 150px;
}

/* .avatarContainer{
 
} */

.editavatarcoverbtn{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.avatar-sm {
  object-fit: cover;
}

.linkPersonalinfo{
  word-wrap: break-word;
}
.personalInfo{
  margin:10%;
}


.PersonalInfoContainer{
  position: absolute;
  top: -400px;
  margin: 2rem;
  color: black;
  background-color: aliceblue;
  min-width: 70%;
  min-height: 500px;
  border-radius: 5px;
}

.PersonalInfoContainerInner{
  margin: 1rem;
  padding-top: 1rem;;
}


/* Profile Responsive */
@media only screen and (max-width: 1100px) {
  
.PersonalInfoContainer{
  position: relative;
  top: 0;

}
}

@media only screen and (max-width: 1400px) {
  
.PersonalInfoContainer{
  position: none;
  top: 0px;

}
}

/* Friendship */

.avatar-sm {
  vertical-align: middle;
  width: 45px;
  height: 45px;
  border-radius: 15%;
}



/* SlideSHOW TEST */

/* User list */

.center-cropped {
  object-fit: cover;
  object-position: center;
  height: 150px;
  width: 150px;
  border-radius:50%;
  display:block;
  margin:auto;
}
.userListUser{
  min-width:250px;
}
.userList{
  display: flex;
  justify-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.userListContainer{
  margin-top:auto;
  padding: 15px;
}

.centerContent{
  display:block;
  margin:auto; 
}