.App {
text-align: center;
background-color: #3333332a;
height: 100%;
color:white
}

.carouselCover{
  /* margin: "none" !important; */
  background-size: 100%;
}

.navBar {
 
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-around;
  color: white !important;
  font-weight: 600;
  
}

.facebookLogin{
  margin: 20px ;
}



/* CHAT STYLES */

