.App {
  text-align: center;
  background-color: rgb(36, 36, 36);
 height: 100vh;
 color:white
}

.carouselCover{
  margin: "none" !important;
  background-size: 100%;
}

.navBar {
 
  width: 100%;
  display: flex;
  justify-content: space-around;
  color: white !important;
  font-weight: 600;
  
}

.facebookLogin{
  margin: 20px ;
}